* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body{padding:0;margin:0; background: url('/img/chew-btn-active.png') no-repeat -9999px -9999px; }
.translation{margin-bottom:20px;padding-top:15px;}
.invalid-input{border:solid 1px red;}

h1{font-size:300%;font-family: 'Amatic SC', cursive;margin-top:5%}
h1 a{color:#555555; text-decoration: none;}
h1 a:hover{color:#000000}
h3{font-size:120%;font-weight:normal;margin-left: 8px;margin-top: -45px}

.feed-back{margin-top:-13px;line-height:17px}	


fieldset{background-color:#f6f6f6;margin:0 auto;padding:15px;border-radius:7px;border:solid 1px #d2d2d2}
.chew-btn{background-image:url('/img/chew-btn.png');padding:18px;width:50px;height:46px;margin-left:8px;border-radius:7px;border:solid 0px;}
.chew-btn:hover{background-image:url('/img/chew-btn-active.png');}
.chew-btn-active {background-image:url('/img/chew-btn-active.png');}
.chew-btn:active{background-image:url('/img/chew-btn-active.png')}

.phrase{padding:10px;font-size:100%;width:84%;border-radius:7px;}
.wrapper-translated p{margin: 0 auto;background-color:#f6f6f6;padding:15px 10px 15px 15px;border-radius:10px;border:solid 1px #d2d2d2;text-align:left}
.disabled-input{width:80%;padding:1%;}
input[disabled]{cursor: not-allowed;background-color: #FFF;}


.wrapper-header{text-align:center;margin:0 auto;}
.wrapper-header a:hover{text-decoration: none;}
.wrapper-input{max-width:600px;margin:0 auto;}
.wrapper-translated{max-width:600px;margin:0 auto;margin-top: 15px}
.wrapper-share{margin:70px auto;border:Solid 0px black;text-align:center;}

.fb-button{margin:2px;color:#496DB9;}
.tw-button{margin:2px;color:#0AC2FF;}
.share-text{font-weight:normal;}
.share{margin-left:90px}

.direct-link{cursor:pointer !important;width:100%;text-align: center;background-color:white !important;padding:4px;font-size:12px !important;border:none;color:#979797}
.footer{position:absolute;bottom:0px;right:30px;}
.footer p{padding:10px;font-size:80%;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.footer p:hover{font-size:90%;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 1;}
.container{padding:6% 0 2% 0;}

.wookington-header{background: #000;height:auto;width:100%;text-align: center;display: inline-block;}
.wookington-header:hover{text-decoration: none}
.wookington-header:hover > h4 span{text-decoration: underline}
.wookington-header h4{color:white;font-weight: 300;letter-spacing: 0.06em;margin: 5px;}
.wookington-header h4 span{color:#f2e85a;font-weight: 500}
.wookington-header h4 span .star-wars-title{color: #111;font-size: 27px;text-shadow: 0px 0px 0px yellow, 0px 0px yellow;font-weight: 600;letter-spacing: -0.03em;}

@media (max-width: 350px)  {
	.wrapper-header{width:300px;}
	.wrapper-input{width:300px;}
	.wrapper-translated{width:300px}
	.wrapper-share{width:300px;}
	h1{font-size:200%;}
	h3{font-size:90%;font-weight:normal;margin-top: -20px}
	button{margin-top:0px;}
	.share{margin-left:0px}
	.phrase{width: 75%;}

	.wookington-header h4 span{width: 100%;}
	
}

/*added an in-between size for headers to better scale down*/
@media (min-width: 350px) and (max-width: 40em){
	h1{font-size: 230%;}
	h3{font-size: 95%;margin-top: -32.5px}
	.phrase{width: 80%;}
}

@media only screen and (max-width: 40em) { 
	.wookington-header h4 span{display:block;}
	.chew-btn{margin-left: 0px;}
	.container{padding:1% 0 2% 0}
	} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


