{% extends "base.html" %}


{% block form %}
  <fieldset>
    <input class="disabled-input" placeholder="{{ placeholder }}" name="phrase" disabled="disabled" class="phrase">
    <button class="btn btn-medium btn-primary" type="submit" onClick="analytics.track('Translate', {category: 'Share Page',label: 'Translate'});">Translate</button>
  </fieldset>
{% endblock %}


{% block translate %}
  <div class='translation' style='display:none'>
   <p><strong>Human Translation:</strong> {{ translation }} </p>
  </div>

<script>
    $("button").click(function () {
	    $(".translation").show();
	    $(".share").show();
    });
</script>

{% endblock %}



{% block share %}

<a class='share' style='display:none' href='/'>Translate your own phrase!</a>
{% endblock %}




